<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.miage.barcodeproduct">

    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BarcodeProductApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity" />

        <activity android:name=".barcodereader.BarcodeCaptureActivity"
            android:parentActivityName=".listProduct.ProductListActivity"/>

        <activity android:name=".createproduct.SaveProductActivity"
            android:parentActivityName=".listProduct.ProductListActivity"/>

        <activity android:name=".createproduct.SaveProductDataActivity"
            android:parentActivityName=".listProduct.ProductListActivity"/>

        <activity android:name=".createproduct.SaveProductStoreActivity"
            android:parentActivityName=".listProduct.ProductListActivity"/>

        <activity android:name=".createproduct.ChooseFileActivity"
            android:parentActivityName=".listProduct.ProductListActivity"/>

        <activity android:name=".listProduct.ProductListActivity" />

        <activity android:name=".listProduct.ProductDetailActivity"
            android:parentActivityName=".listProduct.ProductListActivity"/>

        <activity android:name=".listProduct.FullScreenImageActivity"
            android:parentActivityName=".listProduct.ProductDetailActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="fr.miage.barcodeproduct.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c64c0fc16aac26f4c11533531dd4a04a3ea0b867"
            />

    </application>

</manifest>